# Misc
*.log
*.zip
*.tar
*.gz
.DS_Store
Thumbs.db
.history
.svn/
.hg/
.atom/

# IDE
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter / Dart / Pub
.dart_tool/
.packages
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
build/
coverage/

# Android
**/android/.gradle/
**/android/local.properties
**/android/**/gradle-wrapper.jar
**/android/app/debug
**/android/app/profile
**/android/app/release
**/android/**/GeneratedPluginRegistrant.java

# iOS
**/ios/Flutter/.last_build_id
**/ios/Flutter/ephemeral/
**/ios/Flutter/App.framework
**/ios/Flutter/engine/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/.symlinks/
**/ios/Pods/
**/ios/.generated/
**/ios/Runner/GeneratedPluginRegistrant.*

# Linux
**/linux/flutter/ephemeral/

# macOS
**/macos/Flutter/ephemeral/
**/macos/Flutter/GeneratedPluginRegistrant.swift

# Windows
**/windows/flutter/ephemeral/

# Web
lib/generated_plugin_registrant.dart

# Symbolication
app.*.symbols

# Keep lockfile for apps (do not ignore pubspec.lock)

